<!DOCTYPE html>
<html>
  <head>
    <title>Rooster - <%= @title %></title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/rooster.css">
  </head>
  <body>
    <div class="branding">
      <div class="brand">Rooster</div>
      <img class="mascot" src="/img/rooster.png" alt="Rooster Mascot"/>
    </div>
    <nav>
      <a href="/containers">Containers</a>
      <a href="/containers/new">New Container</a>
    </nav>
    <%== yield %>
  </body>
</html>
