/* Variables */
:root {
  --primary-bg-color: #72b896;
  --primary-text-color: rgb(28, 24, 24);
  --primary-border-color: rgb(28, 24, 24);
  --box-padding: 10px;
  --box-margin: 15px;
  --primary-action-hover-background-color: #f7dead;
  --element-push-down: 15px;
}

/* Fonts */
@font-face {
  font-family: "Hubot";
  src: url("/fonts/Hubot-Sans.woff2");
  font-weight: bold;
}

/* Super global styles */
body {
  width: 50%;
  margin: 10% auto;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'Hubot', sans-serif;
}

/* Branding */
.branding {
  display: flex;
  justify-content: space-between;
}

.brand {
  font-size: 5rem;
}

.mascot {
  width: 5rem;
  vertical-align: top;
}

/* Links */
a {
  color: var(--primary-text-color);
  /*
  We use hx-get on links when they aren't buttons
  because, why should everything have to be a button.
  Because links with hx-get have no href, they would
  lose their text-decoration and cursor.
  */
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  background-color: var(--primary-action-hover-background-color);

}

/* Navigation */
nav {
  text-transform: uppercase;
}

/* Color palette */
.first-color { 
	background: #f7dead; 
}
	
.second-color { 
	background: #cd4439; 
}

.third-color { 
	background: #72b896; 
}

.fourth-color { 
	background: #6f7777; 
}

/* Actions -- horizontal links for resources */
.actions a {
  margin: 0px 2px 0px 2px;
}

/* Forms */
.forme label {
  display: block;
  margin-bottom: var(--element-push-down);
}

.forme label > input[type="text"] {
  width: 100%;
  display: block;
  padding: var(--box-padding);
  background-color: inherit;
  border: 1px solid var(--primary-border-color);
}

.forme label > textarea {
  width: 100%;
  height: 4em;
  display: block;
  padding: var(--box-padding);
  background-color: inherit;
  border: 1px solid var(--primary-border-color);
}

.forme label > input[type="checkbox"] {
  padding: var(--box-padding);
  background-color: inherit;
  border: 1px solid var(--primary-border-color);
  accent-color: var(--primary-text-color);
}

.forme label > select {
  display: block;
  padding: var(--box-padding);
  background-color: inherit;
  border: 1px solid var(--primary-border-color);
}

/* Buttons */
button, input[type="button"], input[type="submit"] {
  background-color: inherit;
  border: 1px solid var(--primary-border-color);
  border-radius: 1px;
  padding: 4px 8px;
  cursor: pointer;
  font-family: 'Hubot', sans-serif;
  font-weight: bold;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  background-color: var(--primary-action-hover-background-color);
}

/* Fields, Labels & Items */
.field {
  margin-bottom: var(--element-push-down);
}

.label {
  font-size: 1.2em;
}

.value {
  font-size: 0.8em;
}

/* Containers */
.container-card {
  border: 1px solid var(--primary-border-color);
  border-radius: 1px;
  padding: var(--box-padding);
  margin: var(--box-margin);
  display: flex;
  justify-content: space-between;
}

.container .image-tag {
  display: flex;
}
