<%== f.input :name %>
<%== f.input :image %>
<div hx-get=<%== "/containers/#{@container.id}/tags" %> hx-trigger="load" hw-swap="innerHTML" hx-target="this">
    <%== f.input :image_tag %>
</div>
<%== f.input :image_pull_secret, as: :textarea %>
<%== f.input :ports, as: :textarea %>
<%== f.input :network %>
<%== f.input :labels, as: :textarea %>
<%== f.input :env_file %>
<%== f.input :tag, label: 'Host Tag' %>
<%== f.input :active, :as => :checkbox %>
