<div class="string">
  <label>Image tag:
    <select id="container_image_tag" name="container[image_tag]">
    <% @tags.each do |tag| %>
      <option value="<%== tag %>"<%== @container.image_tag == tag ? " selected" : ""%>><%== tag %></option>
    <% end %>
    </select>
  </label>
</div>
