<div class="container">
  <h1>Editing <%= @container.name %></h1>
  <% form @container, {:action => "/containers/#{@container.id}"}, {:wrapper => :div} do |f| %>
    <%== render('containers/_form', :locals => { :f => f }) %>
    <button hx-put="<%== "/containers/#{@container.id}" %>" hx-confirm="Are you sure you wish to save this container?" hx-swap="outerHTML" hx-target=".container">
      Save
    </button>
    <a href="<%= "/containers/#{@container.id}" %>">Back</a>
  <% end %>
</div>
