<div class="container">
  <h1><%= @container.name %></h1>

  <%== render '_field',  :locals => { label: 'Image', value: "#{@container.image}:#{@container.image_tag}" } %>

  <%== render '_sensitive_field',  :locals => { label: 'Image Pull Secret', value: @container.image_pull_secret } %>

  <%== render '_field',  :locals => { label: 'Ports', value: @container.ports } %>

  <%== render '_field',  :locals => { label: 'Network', value: @container.network } %>

  <%== render '_field',  :locals => { label: 'Labels', value: @container.labels } %>

  <%== render '_field',  :locals => { label: 'ENV File', value: @container.env_file } %>

  <%== render '_field',  :locals => { label: 'Host Tag', value: @container.tag } %>

  <%== render '_field',  :locals => { label: 'Active', value: @container.active } %>

  <div class="actions">
    <button hx-post="<%== "/containers/#{@container.id}/delete" %>" hx-confirm="Are you sure you wish to delete this container?" hx-swap="none">
      Delete Container
    </button>
    <a hx-get="<%= "/containers/#{@container.id}/edit" %>"
      hx-trigger="click"
      hx-target=".container"
      hx-swap="outerHTML"
      hx-replace-url="true"
  >
      Edit
    </a>
    <a href="/containers">
      Back
    </a>
  </div>
</div>
